<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="container">
  <div id="presentation">
    <p id="nombre">{{name}}</p>
    <p id="titulo">{{titulo}}</p>
    <p id="objetivo">{{objetivo}}</p>
  </div>
    <img class="foto" src={{foto}}/>
  <section class="contacto">
    <div id="social"> {{email}} <i class="fas fa-envelope"></i></div>
    <div id="social"> {{celular}} <i class="fas fa-phone"></i></div>
    <div id="social"> {{ubicacion}} <i class="fas fa-map-marker"></i></div>
    <div id="social"> {{redsocial}} <i class="fab fa-twitter"></i></div>
  </section>
</div>
