<h2> Work Experience </h2> <br>
    <h3 id="puesto">{{puesto}} </h3>
    <p id="empresa">{{empresa}} </p>
    <p id="fecha">{{fecha_ini}} - {{fecha_fin}} </p>
    <p id="ciudad">{{ciudad}},{{pais}} </p>
    <p id="logros">Logros</p>
        <ul class="lista">
          <li *ngFor="let logro of logros">{{ logro.logro }}</li>
        </ul>

    <h3 id="puesto">{{puesto}} </h3>
    <p id="empresa">{{empresa}} </p>
    <p id="fecha">{{fecha_ini}} - {{fecha_fin}} </p>
    <p id="ciudad">{{ciudad}},{{pais}} </p>
    <p id="logros">Logros</p>
        <ul class="lista">
          <li *ngFor="let logro of logros">{{ logro.logro }}</li>
        </ul>