*{
    justify-content:flex-start;
    align-content:flex-start;
    padding: 2rem;
    font-family: sans-serif;
}
table{
    padding-left: 18%;
    padding-right: 18%;
    border: none;
}

td, th { 
  border: 1px #2CBDAF;
  border-style: solid;
}

#work{
  width: 50%;
}