*{
    justify-content: center;
    align-content: center;
    padding: 1rem;
    font-family: sans-serif;
}
table{
    padding-left: 20%;
    padding-right: 20%;
    border: none;
}

td, th {
  padding: 1rem; 
  border: 1px #2CBDAF;
  border-style: solid;
}

#work{
  width: 55%;
}
