<table class="tabla">
  <tr>
    <td colspan="2" id="header">
      <app-header></app-header>
    </td>
  </tr>
  <tr>
    
      <td id="work">
        <app-work-experience></app-work-experience>
      </td>
      <td>
        <tr id="skills">
          <app-skills></app-skills>
        </tr>
        <tr id="certificates">
          <app-certificates></app-certificates>
        </tr>
        <tr id="interests">
          <app-interests></app-interests>
        </tr>
      </td>
  </tr>
</table>